@charset "utf-8";
/* CSS Document */
.text-underline{ border-bottom:2px solid #E9E9E9; padding-bottom:8px }
.btn-view{ width:20px; height:12px;  position: absolute; top:6px; right:10px; opacity:0.5; filter:alpha(opacity=50); cursor:pointer }
.btn-view:hover{ opacity:0.8; filter:alpha(opacity=80) }
.card-body .card-header{ margin-left:0; margin-right:0; padding-bottom:0; padding-top:0; margin-bottom:14px }
.custom-control-label{ color:#616161 }
.modal textarea.form-control{ height: 126px }

.custom-file-label{ border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px }
.custom-file-label:after{ padding:0 18px; font-size:14px; line-height:36px; font-weight:400; color:#fff; background-color:#BA3326; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px }


/*Datepicker Css Customize*/
.datepicker-dropdown{ width:280px; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px; padding:15px }
.datepicker table{ width:100% }
.datepicker table thead{ background-color:#333; color:#fff; margin-bottom:6px }
.datepicker table thead th{ color:#fff; font-size:14px; font-weight:500; text-shadow:inherit !important }
.datepicker td, .datepicker th{ font-size:14px; font-weight:500; padding:5px; border-radius:0px; -webkit-border-radius:0px; -moz-border-radius:0px }
.datepicker .datepicker-switch:hover, .datepicker .prev:hover, .datepicker .next:hover, .datepicker tfoot tr th:hover{ background:#676767 }
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover{ background-image:inherit !important; background-color:#999 !important; color:#fff }
.datepicker-days{ border:1px solid #999 }

.custom-control.right-check{ padding-left:0; padding-right:1.5rem }
.custom-control.right-check .custom-control-label:before{ left:inherit; right:-1.5rem }
.custom-control.right-check .custom-control-label:after{ left:inherit; right:-1.5rem }

/*Form Control Css Customize*/
.form-control:focus{ box-shadow:0 0 6px 0 rgba(36, 165, 226, 0.7); box-shadow:0 0 6px 0 rgba(36, 165, 226, 0.7); box-shadow:0 0 6px 0 rgba(36, 165, 226, 0.7) }
.input-group-text{ background-color:#9B9B9B; color:#fff; border:none; font-weight:300; font-size:20px; font-family:'Roboto', sans-serif; padding:0 10px }
.form-control-plaintext{ font-size:16px }
.modal p{ font-size:16px; color:#242424 }

/*Custom Checkbox & Radio Button Disable Css*/
.custom-control{ margin-bottom:8px }
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label:before{ background-color:#e9ecef; border:1px solid #979797 }
.custom-radio .custom-control-input:disabled:checked~.custom-control-label:after{ background-color:#8f8f8f }
.custom-radio .custom-control-input:disabled:checked~.custom-control-label:before{ background-color:#e9ecef; border-color:#979797 }

/*Dropdown Menu Custom Css*/
ul.action-buttons li{  position:relative }
.card .dropdown-menu{ width:186px }
.card .dropdown-toggle:after{ display:none }
.card .dropdown-menu.show{ top:100% !important }

.dataTable-option{ display:none }

/*Accordion Custom Css*/
.accordion .card{ margin-bottom:0 }
.accordion .card-header{ margin-bottom:0; border-bottom:none !important }
.accordion h2{ padding-bottom:0 }
.accordion .btn{ width:100%; text-align:left; padding:0 12px; border:none; background-color:#ECECEC; color:#616161; border-bottom:1px solid #d1d1d1; font-size:15px; font-weight:500; background:url("../images/icon-down-arrow-dark-light.svg") no-repeat right center #ECECEC; background-size:20px }
.accordion .btn.collapsed{ background-color:#fff; color:#616161; border-bottom:inherit; font-weight:400; border-bottom:1px solid rgba(0,0,0,0); background:url("../images/icon-right-arrow-dark-light.svg") no-repeat right center #fff; background-size:20px }
.accordion .btn:hover, .accordion .btn:focus, .accordion .btn.focus{ text-decoration:none }
.accordion .card-body{ padding:15px 12px }  
.accordion .custom-control { margin-bottom:0 }
.custom-control-label{ vertical-align:top }
.dropdown-scroll{ height:146px; overflow-y:auto } 
.dropdown-menu{ 
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
-webkit-transition: all 0.3s ease-in-out 0s;
-moz-transition: all 0.3s ease-in-out 0s;
-ms-transition: all 0.3s ease-in-out 0s;
-o-transition: all 0.3s ease-in-out 0s;
transition:all 0.3s ease-in-out 0s;
box-shadow: 0 0 14px 0 rgba(0,0,0,0.16); 
-webkit-box-shadow: 0 0 14px 0 rgba(0,0,0,0.16); 
-moz-box-shadow: 0 0 14px 0 rgba(0,0,0,0.16) }

@media(max-width:991px){ 
	/*Nav Tab - Mobile View Css*/
	.nav-tabs{ width: 100%; min-height: 42px; white-space: nowrap; display: flex; flex-direction: row; flex-wrap: nowrap; overflow-y: hidden; overflow-x: auto }
	.nav-tabs li{  white-space: nowrap }
	.nav-tabs .nav-item a{ width: auto; min-height: auto; padding: 16px 15px; background-color: inherit; border:none; border-bottom:2px solid rgba(0,0,0,0) !important } 
	.nav-tabs .nav-item a figure{ display: none }
	.nav-tabs .nav-link{ font-size: 16px }
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{ background-color: inherit; border:none !important; border-bottom:2px solid #B93326 !important }	
}
@media(max-width:767px){
	/*Data Table - Mobile View Css*/
	ul.action-buttons{ margin-top: 10px }
	ul.action-buttons li{ padding: 0 0 0 15px }
	.dataTables_length{ width: 100%; overflow: hidden; margin-bottom: 0 }
	.dataTables_filter{ width: 100% }
	.main-container .search-section{ width: 100%; margin: 0 !important; display: block !important; opacity:1 !important; visibility: visible !important } 
	.main-container .search-section{ position: relative; top: inherit; right: inherit;  background-color: inherit }
	.main-container .search-section input.form-control{ width: 237px; position: absolute; top: 0; right: -237px; display: none } 
	.main-container .search-section.expendSearch input.form-control{ right: 0; display: block } 
	.dataTables_length label{ padding-right: 0 }
	.main-container .search-section .btn-search{ right:8px }	
} 
@media(max-width:575px){
	/*Pagination - Mobile View Css*/
	.pagination{ width: 100%; display: block}
	.pagination li.page-item{  display:inline-block; margin: 2px 0 }	
	
	/*Data Table Options - Mobile View Css */
	.dataTable-option{ width:22px; position: absolute; top:0; right:6px; display: block }
	.dataTable-option img{ width:100%; height:auto; opacity:0.5; filter: alpha(opacity=50); /* For IE8 and earlier */ }
	.dataTable-option.active img{ opacity:0.8; filter: alpha(opacity=80); /* For IE8 and earlier */ }
	ul.action-buttons{ opacity:0; visibility: hidden; display:flex; margin-top:0; position: absolute; top:-4px; right:30px; background-color: #fff; padding:5px;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition:all 0.3s ease-in-out 0s }
	ul.action-buttons.expend{ opacity:1; visibility: visible;  }
}

